.close-button {
    background-image: url(../../images/menu-close-button.svg);
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    align-self: end;
}