.close-button {
    background-image: url(../../images/menu-close-button.svg);
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    align-self: end;
}